<div class="container">
    <div class="card">
        <h1>Registration Form</h1>
        <form #myform="ngForm" (ngSubmit)="doRegistration(myform.value)">
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput placeholder="Enter Name" name="name" [(ngModel)]="data.name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Enter Email" name="email" [(ngModel)]="data.email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Mobile</mat-label>
                    <input type="text" matInput placeholder="Enter Mobile" name="mobile" [(ngModel)]="data.mobile">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Address</mat-label>
                    <input type="text" matInput placeholder="Enter Address" name="address" [(ngModel)]="data.address">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Enter Password" name="password" [(ngModel)]="data.password">
                </mat-form-field>
            </p>
            <div class="send">
                <button type="submit" mat-raised-button color="primary">Register</button>
                <button type="reset" mat-raised-button color="accent">Reset</button>
            </div>
        </form>
    </div>
</div>
